.etasuButtonText {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.2em;
}

.etasuButton {
  width: 50%;
}

.etasuButtonTimestamp {
  max-width: 50%;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}

.timestampString {
  font-size: 0.7rem;
  opacity: 0.8;
}
