.renew-icon{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
  }
  
.refresh{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out; 
  }

.status-icon{
    width: 100%;
    height:5px;
  }

.bundle-entry{
    margin: 5px;
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }